<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <link rel="shortcut icon" static:src="@{/static/images/favico.ico}" type="image/x-icon"/>
    </head>
    <body>
<h1>错误页面:</h1>
<p th:text="'路径: ' + ${path}" />
<p th:text="'错误: ' + ${error}" />
<p th:text="'状态码: ' + ${status}" />
<p th:text="'异常类型: ' + ${exception}" />
<p th:text="'异常信息: ' + ${message}" />
<p th:text="'时间: ' + ${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}" />

    </body>
</html>